body {
    margin: 0;
    background-color: white;
    background-image: url('hobby2.png');
  }
  nav {
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: green;
  }
  nav a {
    text-decoration: none;
    font-size: 25px;
    display: flex;
    color: white;
    padding: 5px 10px;
  }
  nav a:hover {
    background-color: lightblue;
    font-size: 150%;
  }
  .main {
    margin-left: 160px;
    padding: 5px 10px;
  }
  .logo{
    height:30px;
  }
  p{
    font-size: 20px;
    padding: 5px 500px;
    background-color: pink;
    
  }
  img{
    scale: 50%;
    color: black ;
    padding: 400px 0.1px;
    position: absolute;
  }
h1{
    background-color: aliceblue ;
}

  